<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Counter</title>
</head>
<body>
<form th:method="POST" th:action="@{/counters}" th:object="${counterModel}">
    <table border="1">
        <caption>Counter</caption>
        <tr><th size="5">Data</th>
            <th>Poll_1</th>
            <th>Poll_2</th>
            <th>Poll_3</th>
            <th>Poll_4</th>
            <th>Poll_5</th>
            <th>Poll_6</th>
            <th>Poll_7</th>
            <th>Poll_8</th>
            <th>Poll_9</th>
            <th>Poll_10</th>
            <th>Poll_11</th>
            <th>Poll_12</th>
            <th>Poll_13</th>
            <th>boilerRoom</th>
            <th>KPP</th>
            <th>ahzDown</th>
            <th>ahzUp</th>
            <th>mainHouseLeft</th>
            <th>mainHouseRight</th>
            <th>guestHouse</th>
            <th>workerHotel</th>
            <th>mainWaterInput</th>
            <th>gas</th>
        </tr>
        <tr th:each="counters : ${counters}">
            <th th:text="${counters.getData()}">value</th>
            <th style="color:blue" th:text="${counters.getPool_1()}">value</th>
            <th style="color:blue" th:text="${counters.getPool_2()}">value</th>
            <th style="color:blue" th:text="${counters.getPool_3()}">value</th>
            <th style="color:blue" th:text="${counters.getPool_4()}">value</th>
            <th style="color:blue" th:text="${counters.getPool_5()}">value</th>
            <th style="color:blue" th:text="${counters.getPool_6()}">value</th>
            <th style="color:blue" th:text="${counters.getPool_7()}">value</th>
            <th style="color:blue" th:text="${counters.getPool_8()}">value</th>
            <th style="color:blue" th:text="${counters.getPool_9()}">value</th>
            <th style="color:blue" th:text="${counters.getPool_10()}">value</th>
            <th style="color:blue" th:text="${counters.getPool_11()}">value</th>
            <th style="color:blue" th:text="${counters.getPool_12()}">value</th>
            <th style="color:blue" th:text="${counters.getPool_13()}">value</th>
            <th style="color:blue" th:text="${counters.getBoilerRoom()}">value</th>
            <th style="color:blue" th:text="${counters.getKpp()}">value</th>
            <th style="color:blue" th:text="${counters.getAhzDown()}">value</th>
            <th style="color:blue" th:text="${counters.getAhzUp()}">value</th>
            <th style="color:blue" th:text="${counters.getMainHouseLeft()}">value</th>
            <th style="color:blue" th:text="${counters.getMainHouseRight()}">value</th>
            <th style="color:blue" th:text="${counters.getGuestHouse()}">value</th>
            <th style="color:blue" th:text="${counters.getWorkerHotel()}">value</th>
            <th style="color:blue" th:text="${counters.getMainWaterInput()}">value</th>
            <th style="color:blue" th:text="${counters.getGas()}">value</th>
        </tr>
        <tr>
            <th></th>
            <th><input type="text" size="5" th:field="*{Pool_1}" ></th>
            <th><input type="text" size="5" th:field="*{Pool_2}" ></th>
            <th><input type="text" size="5" th:field="*{Pool_3}" ></th>
            <th><input type="text" size="5" th:field="*{Pool_4}" ></th>
            <th><input type="text" size="5" th:field="*{Pool_5}" ></th>
            <th><input type="text" size="5" th:field="*{Pool_6}" ></th>
            <th><input type="text" size="5" th:field="*{Pool_7}" ></th>
            <th><input type="text" size="5" th:field="*{Pool_8}" ></th>
            <th><input type="text" size="5" th:field="*{Pool_9}" ></th>
            <th><input type="text" size="5" th:field="*{Pool_10}" ></th>
            <th><input type="text" size="5" th:field="*{Pool_11}" ></th>
            <th><input type="text" size="5" th:field="*{Pool_12}" ></th>
            <th><input type="text" size="5" th:field="*{Pool_13}" ></th>
            <th><input type="text" size="5" th:field="*{boilerRoom}" ></th>>
            <th><input type="text" size="5" th:field="*{kpp}" ></th>
            <th><input type="text" size="5" th:field="*{ahzDown}" ></th>
            <th><input type="text" size="5" th:field="*{ahzUp}" ></th>
            <th><input type="text" size="5" th:field="*{mainHouseLeft}" ></th>
            <th><input type="text" size="5" th:field="*{mainHouseRight}" ></th>
            <th><input type="text" size="5" th:field="*{guestHouse}" ></th>
            <th><input type="text" size="5" th:field="*{workerHotel}" ></th>
            <th><input type="text" size="5" th:field="*{mainWaterInput}" ></th>
            <th><input type="text" size="5" th:field="*{gas}" ></th>
        </tr>
    </table>
    <input type="submit" value="Create">
</form>
</body>
</html>